/* utilidades */
body {
  font-family: "Barlow", sans-serif;
  margin: 0px;
  width: 100%;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: white ;
}
.header_logo img {
  height: 100px;
  fill: white;
}
.header_container {
  border-top: 2px solid #393e46;
  border-bottom: 2px solid #393e46;
  padding: 0 200px;
  background-color: #393E46 ;
  /* opacity: 0.3; */
}
.header_container-nav {
  display: flex;
  justify-content: space-between;
}
.header_nav-item {
  text-decoration: none;
  color: #e4e3e3;
  text-transform: uppercase;
  margin-right: 10px;
  transition: font-weight 0.2s;
}
.header_nav-item:hover {
  text-decoration: underline;
  color: white;
  font-weight: bold;
}
.hero {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}
.hero_container {
  /*border: 5px solid black; /*Eliminar para poder tener el espacio del 100% en el principal*/
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.hero_title{
  align-self: center;
  font-size: 30px;
  text-transform: uppercase;
}
                  
.hero_container-botton {
  background-color: #204051;
  width: 168px;
  height: 30px;
  padding-top: 7px;
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.footer {
  height: 80px;
  background-color: #d65a31;
  display: flex;
  text-align: right;
  justify-content: space-evenly;
}
.footer a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  width: 110px;
  height: 20px;
}
.footer a:hover {
  text-decoration: underline;
}


/* homepage */
.sytles_container {
  /* border: 5px solid black; */
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.styles_container-title {
  font-family: "Barlow", sans-serif;
  font-size: 26px;
  padding: 73px 250px 73px 250px;
  text-transform: uppercase;
}
.styles_container-img {
  margin-bottom: 31.5px;
}
.styles_container-botton {
  background-color: #204051;
  width: 168px;
  height: 30px;
  padding-top: 7px;
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  align-self: center;
  margin-bottom: 31.5px;
}
.fabrics_container {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 34px;
  /* border: 1px solid green; */
}
.fabrics_container-element {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fabrics_container-element.grano {
  background-image: url("../images/granoC.jpg");
  background-position: center;
  background-size: cover;
}
.fabrics_container-element.tricotina {
  background-image: url("../images/ticotinaC.jpg");
  background-position: center;
  background-size: cover;
}
.fabrics_container-element.top {
  background-image: url("../images/topC.jpg");
  background-position: right;
  background-size: cover;
}
.fabrics_container-element.topRayado {
  background-image: url("../images/topRayadoC.jpg");
  background-position: center left;
  background-size: cover;
}
.fabrics_container-element--title {
  color: #eeeeee;
  text-transform: uppercase;
  font-size: 26px;
}
.fabrics_element-botton {
  background-color: #204051;
  width: 168px;
  height: 30px;
  padding-top: 7px;
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.more {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more_container {
  padding: 20px 0;
  text-align: center;
  margin-right: 5px;
}
.more_container-img {
  object-fit: contain;
}
.more_container a {
  text-decoration: none;
  color: #393e46;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.location {
  padding-top: 10px;
  text-align: center;
  /* border: 1px solid red; */
}
.location_details {
  text-transform: uppercase;
  font-size: 20px;
}

/* ServicesPage */
.services{
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services_title{
  margin-top: 5px;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.services_container{
  display: flex;
  justify-content: center;
  width: 100%;
}
.services_container_img{
  border: 1px solid seagreen;
  height: 600px;
  width: 40%;
}
.services_container_description{
  width: 40%;
  padding: 20px;
  text-transform: uppercase;
  font-size: 20px;
  text-align: justify;
}
.services_container_img.bordado{
  background-image: url(/images/BordadoC.jpg);
  background-position: center;
  background-size: cover;
}